In [1]:
# Answer 1:-

In [5]:
import pandas as pd
 
import numpy as np
 
data = np.array([4, 8, 15, 16, 23 , 42])
 
s = pd.Series(data)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int32

In [9]:
# Answer 2:-

In [6]:
df = (['x','y','z','a','b','c','d','e','f','g'])

In [8]:
pd.Series(df)

0    x
1    y
2    z
3    a
4    b
5    c
6    d
7    e
8    f
9    g
dtype: object

In [10]:
# ANSWER 3:-

In [11]:
import pandas as pd

data = {'Name':['Alice', 'Bob', 'Claire'], 'Age':[25, 30, 27], 'Gender':['Female','Male','Female']}

df1 = pd.DataFrame(data)

print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
# Answer 4:-

In [14]:
# A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three
# principal components, the data, rows, and columns, whereas a Pandas Series is a one-dimensional array-like object that can hold data of any type
# (integer, float, string, etc.).

In [15]:
# For example :

In [16]:
import pandas as pd
 
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
df2 = pd.DataFrame(data)
 
print(df2)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [19]:
import pandas as pd

data1 = [1, 2, 3, 4, 5]
series_from_list = pd.Series(data1)
print(series_from_list)

data2 = {'a': 1, 'b': 2, 'c': 3}
series_from_dict = pd.Series(data2)
print(series_from_dict)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
dtype: int64

In [20]:
# Answer 5:-

In [21]:
# Let us suppose above question:

In [22]:
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [23]:
# Common functions that can be use to manipulate data in pandas framework are :

In [24]:
df1.head(1)

    Name  Age  Gender
0  Alice   25  Female

In [25]:
df1.tail(1)

     Name  Age  Gender
2  Claire   27  Female

In [26]:
df1.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [27]:
df1.dtypes

Name      object
Age        int64
Gender    object
dtype: object

In [28]:
df1['Name']

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [30]:
# Answer 7:-

In [31]:
Details = {'Employee_name':['Rajesh', 'Amit', 'Sumit', 'Tej'], 'Age':[50, 45, 56, 67], 'Gender':['Male','Male','Male','Male']}

df_details = pd.DataFrame(Details)

print(df_details)

  Employee_name  Age Gender
0        Rajesh   50   Male
1          Amit   45   Male
2         Sumit   56   Male
3           Tej   67   Male